##############################
## VS Code
##############################
.vscode/
.code-workspace


##############################
## Java
##############################
.mtj.tmp/
*.class
*.war
*.ear
*.nar
hs_err_pid*